<%- include('../layouts/header.ejs', {css_list: ['cart']}) %>
<main>
    <h1>Cart</h1>
    <% if(cart.items.length > 0) { %>
    <div  class="cart_page">
        <div class="cart_title">Items</div>
        <ul class="cart_list">
            <% for(const item of cart.items) { %>
            <li>
                <div class="cart_item">
                    <div><%= item.product.title %> ( <%= item.quantity %> )</div>
                    <!-- <img src="<%= item.product.imageUrl || "/img/mollu.jfif" %>" alt="<%= item.title %>"> -->
                    <div>Price: <%= item.product.price %></div>
                    <form action="/cart-delete-item" method="POST">
                        <input hidden name="id" value="<%= item.product.id %>">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </div>
            </li>
            <% } %>
        </ul>
        <div>
            <div class="cart_title">Total Price</div>
            <div><%= cart.totalPrice %></div>
        </div>
        <form action="/create-order" method="post" class="cart_form">
            <button class="btn" type="submit">Order</button>
        </form>
    </div>
    <% } else { %>
        <h2>There is no Items in your cart!</h2>
    <% } %>
</main>
<%- include('../layouts/footer.ejs') %>