<%- include('../layouts/header.ejs', {css_list: ['cart']}) %>
<main>
    <h1>Cart</h1>
    <% if(cart.items.length > 0) { %>
    <div class="cart_title">Items</div>
    <ul>
        <% for(const item of cart.items) { %>
        <li>
        <div>
            <div><%= item.title %> ( <%= item.count %> )</div>
            <!-- <img src="<%= item.imageUrl || "/img/mollu.jfif" %>" alt="<%= item.title %>"> -->
            <div>Price: <%= item.price %></div>
            <div><%= item.description %></div>
            <form action="/cart-delete-item" method="POST">
                <input hidden name="id" value="<%= item.id %>">
                <button class="btn" type="submit">Delete</button>
            </form>
        </div>
        </li>
        <% } %>
    </ul>
    <div>
        <div class="cart_title">Total Price</div>
        <div><%= cart.totalPrice %></div>
    </div>
    <% } else { %>
        <h2>There is no Items in your cart!</h2>
    <% } %>
</main>
<%- include('../layouts/footer.ejs') %>